.header
  background-color #ccc
  padding 20px 30px
  text-shadow 0 1px 1px white
  border-bottom 1px solid #333
  font-family 'Cabin', arial, serif
  clearfix()
  .header-logo
    display block
    float left
    background-color white
    background-image url('https://avatars3.githubusercontent.com/u/13644901?v=3&s=200')
    background-size cover
    size 60px 60px
    border-radius 3px
    border 1px solid #aaa
  .header-heading
    float left
    padding-left 10px
  h1
    margin-bottom 8px
  h2
    font-size 13px
